
<div >
  <ol class="posts">
    <%= render @post %>
  </ol>
  <h3>Comments</h3>
  <div  id="comment_form">
  <%= render @comments %>
  </div>
  <% if (current_user?(nil) || current_user?(@post.user) || current_user.following?(@post.user) ) %>
    <%= render 'comments/form' %>
  <% end %>
</div>
<script>
  $(document).ready(function() {
    $('#comment_form form').hide()
    $('.edit-comment').click(function() {
      $(this).closest('.comment').find('.show-comment').hide()
      $(this).closest('.comment').find('form').show()
    });
  });
</script>

   